* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

#dish-nav {
  position: fixed;
}

.btn-primary {
  background-color: #ce1a1a;
  border-color: #ce1a1a;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #ce1a1a;
  border-color: #ce1a1a;
}

.btn-primary:active {
  background-color: #ce1a1a !important;
  border-color: #ce1a1a !important;
  opacity: 0.8;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.btn-outline-primary {
  border: 2px solid #7db643;
  color: #7db643;
  cursor: pointer;
}

.btn-outline-primary:hover {
  background-color: #7db643;
  border-color: #7db643;
  color: #fff;
}

.btn-outline-primary:active {
  background-color: #7db643 !important;
  border-color: #7db643 !important;
  opacity: 0.8;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.badge-color {
  background-color: #ce1a1a !important;
}

#menu-text {
  font-weight: 600;
  font-size: 12px;
}

#menu-title {
  font-size: 14px;
}

.cart-btn {
  font-size: 12px;
  height: fit-content;
}

#checkout {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#checkout:active {
  opacity: 0.5;
}

body {
  overflow-x: hidden;
}

.qty-btn {
  border: 1px solid #ce1a1a;
  border-radius: 15px;
}

.social-icons {
  font-size: 0.6rem;
  color: #ce1a1a;
}

.selected-logo {
  display: none;
}

.spinner-border {
  width: 20px;
  height: 20px;
  font-size: 10px;
}

#submit-restaurant,
#addDish {
  display: flex;
  align-items: center;
  gap: 4px;
}

#restaurant-spinner,
#dish-spinner {
  display: none;
}

.res-logo-image,
.dish-image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

#rest-display-card,
.card-title,
a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.page-spinner {
  margin-top: 10rem;
  width: 200px;
  height: 200px;
}

.total>div {
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
  background-color: #dadce0;
}

.menu-image {
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

.restaurant-info {
  position: relative;
}

.cart-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  border-left: 1px solid #ddd;
}

.cart-section .card {
  border: none;
  border-radius: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  margin-bottom: 20px;
}

.cart-item .dish-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item .card-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.cart-btn {
  font-size: 16px;
  color: #fff;
  background-color: #ce1a1a;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: #c0392b;
}

#main-content {
  padding: 20px;
  margin-right: 390px;
}

.main-content {
  margin-top: 5rem !important;
}

#cart-empty-msg {
  display: none;
}

@media only screen and (max-width:800px) {
  #cart-responsive {
    display: none;
  }

  #main-content {
    padding: 0px 0px 0px 20px;
    margin-right: 390px;
  }

  #cart-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  div#main-content.row {
    width: 100%;
  }

  #showCart {
    display: block !important;
  }

  #rest-dish-responsive {
    padding: 10px !important;
  }

  #all-dishes {
    flex-wrap: wrap;
  }

  #all-dishes>div {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .qty-btn {
    padding: 0px 6px;
  }

  .fa-plus,
  .fa-minus {
    font-size: 10px;
  }

  #resp-img {
    display: flex;
    justify-content: center;
  }

  #resp-img img {
    margin: 0 auto;
  }
  .main-content{
    margin-top: 6rem !important;
  }
}

@media only screen and (max-width:465px) {
  #all-dishes>div {
    flex: 0 0 50%;
    max-width: 50%;
  }

  img.img-fluid.rounded {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width:449px) {
  #all-dishes>div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}